<nav class="navbar fixed-top navbar-primary bg-primary">
    <div class="container-fluid">
<p>Logout</p>
    </div>
  </nav>
  <div class="side-navbar active-nav d-flex justify-content-between flex-wrap flex-column" id="sidebar">
    <ul class="nav flex-column text-white w-100">
        
    
      <h3 style="text-align: center;margin-top:38%">Welcome Home</h3> <br>
      <i class="fas fa-user-circle" id="icon" ></i>
      <li href="#" class="nav-link">
        <span class="mx-2">Home</span>
       
      </li>
      <li href="#" class="nav-link">
        <span class="mx-2">About</span>
      </li>
      <li href="#" class="nav-link">
        <span class="mx-2">Contact</span>
      </li>
    </ul>
  </div>