<app-user-display></app-user-display><br><br>
<div class="jobContent"><br><br>
    <div class="card" style="width: 69rem;border-color: white;">
        <div class="card-body" >
          <div class="card-header bg-primary">
           <h5 style="color: white; text-align: center;">Terms and Conditions</h5> 
          </div>
          <p class="card-text">
            <br><br>
            <p> Under the Agreement Centrumm Cerny Most and JobChase.com will provide the agreed scope of the Software and/or other
            agreed products or services to the Customer. The Software is provided as “Software as a Service (SaaS)”, meaning that the Software and its associated data are hosted centrally by fleetster
            and are accessed and operated by the Customer’s users with standard web browsers over the
            internet. <br>
            Standard Terms and Conditions
           fleetster may update or upgrade the Software during the term of the Agreement to provide
            error corrections and/or functional enhancements, provided that any such updates or upgrades which
            • remove, or significantly alter, any Software features and/or
            • modify the Software’s user interface in a way that requires significant additional training of users for enabling them to continue use of previously existing functionalities and
            features.
            shall only be permitted with the Customer’s consent. Modifications of fleetster’s Software technology that do not result in such effects do not require the Customer’s prior consent. Customer’s consent shall be deemed as given if (i) fleetster notifies the Customer of the new version and the corresponding changes in text form (e.g. by email) with an adequate notice period
            (usually four weeks) and (ii) the Customer does not object to the change in text form (e.g. by
            email) before the change is implemented. In its notification to the Customer fleetster will explicitly remind the Customer of this consequence.
            fleetster shall not be obliged to offer potential new versions of its technology to the Customer
            as described in section. <br>
            3. License
            Subject to the terms and conditions of the Agreement and payment of the agreed fees (including usage-based fees), fleetster grants to the Customer a non-exclusive, limited and non-transferable (except as explicitly stated in the Agreement) right, during the term of the Agreement,
            to access and use the Software for its intended purpose. The Customer’s right to access and
            use the Software particularly comprises the right to input and/or upload data into the Software,
            to process these data using the Software, and to download data using the download interfaces
            provided by the Software.
             The Customer’s right to use the Software is limited to the own mobility, fleet management,
            travel management and/or corporate carsharing needs of the Customer and/or its Affiliates
            (the “Software Purpose”). The Software Purpose does not comprise the right to re-sell the
            Customer’s right to use the Software to third parties and/or to use the Software for mobility
            solutions that are used by third parties who are not Affiliates of the Customer.

            </p>
        </div>
      </div>
</div>
