<app-admin-display></app-admin-display><br><br>
<div class="jobContent">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <table class="table table-bordered" style="border-color: skyblue;">
          <thead>
            <tr class="bg-primary
            "style="color: white;">
            <th scope="col">#</th>
              <th scope="col">FirstName</th>
              <th scope="col">LastName</th>
              <th scope="col">Age</th>
              <th scope="col">Gender</th>
              <th scope="col">Contact Number</th>
              <th scope="col">Status</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor = "let appl of applicants">
              <th scope="row">{{appl.id}}</th>
              <td>{{appl.firstname}}</td>
              <td>{{appl.lastname}}</td>
              <td>{{appl.age}}</td>
              <td>{{appl.gender}}</td>
              <td>{{appl.number}}</td>
              <td>
                <button type="button" class="btn btn-success">Approved</button>&nbsp;&nbsp;
              <button type="button" class="btn btn-danger">Decline</button>
              </td>
              </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
