<app-admin-display></app-admin-display><br><br>
<div class="jobContent">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <table class="table table-bordered" style="border-color: skyblue;">
          <thead>
            <tr style="background-color: blue; color: white;">
              <th style="width:40%"scope="col">Name</th>
              <th scope="col">Age</th>
              <th scope="col">Gender</th>
              <th scope="col">Contact Number</th>
              <th scope="col">Status</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Job chase</th>
              <td>20</td>
              <td>female</td>
              <td>092764724623</td>
              <td>
                <button type="button" class="btn btn-success">Approved</button>&nbsp;&nbsp;
              <button type="button" class="btn btn-danger">Decline</button>
              </td>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


