#button{
    /* background: rgb(233,19,128); */
    background: linear-gradient(90deg, rgb(231, 86, 200) 0%, rgb(100, 42, 148) 42%, rgb(25, 80, 233) 100%);
    color:white;
    /* opacity: 1.0; */
    
}
.card{
    border-right: skyblue solid 2px;
    border-left: violet solid 2px ;
}