.card{
    text-align: center;
    padding-top: 25px;
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
    margin-top: 100px;
    width: 35rem;
    border-right: skyblue solid 4px;
    border-left: violet solid 4px;
    border-top: white;
     border-bottom: white;
} 
.account{
    padding-left: 26%;
    padding-right: 26%;
}
