<app-admin-display></app-admin-display>
<div class="form">
    <div class="card-header bg-primary " style="padding-bottom:0;">
        <p style="color: white;"><i class="fas fa-pencil-alt"></i>&nbsp;Create Job</p>
    </div>
    <div class="card p-2" style="border-color: skyblue;">
        <div class="mb-2">
            
                <select class="form-control form-control-md">
                    <option>Salesman</option>
                    <option>Bagger</option>
                    <option></option>
                </select>
        </div>
        <div class="mb-2">
            <input type="text" class="form-control form-control-md" placeholder="Salary">

        </div>
        <div class="mb-2">
            <select class="form-control form-control-md">
                <option>Urgent</option>
                <option>another</option>
                <option>option</option>
            </select>
        </div>
        <div class="mb-2">
            <input type="text" class="form-control form-control-md" placeholder="http/">
          
        </div>
        <div class="mb-2">
            <textarea class="form-control" aria-label="With textarea" placeholder="Description:"></textarea>


        </div>
        <div class="d-flex"><button class="btn btn-success w-23 " routerLink="/jobsAdmin">Add Job</button>&nbsp; <button
                class=" btn btn-danger w-23">Clear</button></div>

       
    </div>
</div>