.card-display{
    font-size:70px;
    text-align: center;
    width: 59rem; 
    margin-top:15%; 
    margin-left: 28%;
    color: rgb(109, 5, 109);;
    border-right: skyblue solid 4px;
    border-left: violet solid 4px; 
    border-top: white;
    border-bottom: white;
  }