<app-user-display></app-user-display>
<br><br><br>
    <div class="form">
        <div class="card-header bg-primary " style="padding-bottom:0;">
            <p style="color: white; font-size: 20px;"><i class="fas fa-user-tie"></i>&nbsp;&nbsp;Create Resume</p>
        </div>
        <div class="card p-3" style="border-color: skyblue;">
            <div class="card-header mb-2"
                style="padding-bottom:0px; background-color: skyblue; width: 250px; height: 40PX;">
                <p style="color: white; font-size: 20px;"><i class="fas fa-pencil-alt"></i>&nbsp;Personal Information
                </p>
            </div>

            <div class="row mb-3">
                <div class="col">
                    <input type="text" class="form-control" placeholder="First Name">
                </div>
                <div class="col">
                    <input type="text" class="form-control" placeholder="Last Name">
                </div>
                
            </div>

            <div class=" row mb-4">
                <div class="col"> 
                    <input type="number" placeholder="Age" class="form-control form-control-md"> 
                </div>
                <div class="col">
                    <select class="form-control form-control-md">
                        <option>Gender</option>
                        <option>Male</option>
                        <option>Female</option>
                    </select>
                </div>
                <div class="col">
                    <input type="text" class="form-control" placeholder="Contact Number">
                </div>
                
            </div>

            <div class="card-header mb-2"
                style="padding-bottom:0px; background-color: skyblue; width: 250px; height: 40PX;">
                <p style="color: white; font-size: 20px;"><i class="fas fa-user-graduate"></i>&nbsp;Education</p>
            </div>

            <div class="mb-4">
                <input type="text" class="form-control form-control-md" placeholder="Highest Educational Attainment">
            </div>

            <div class="card-header mb-2"
                style="padding-bottom:0px; background-color: skyblue; width: 250px; height: 40PX;">
                <p style="color: white; font-size: 20px;"><i class="fas fa-user-md"></i>&nbsp;Work Experience</p>
            </div>
            <div class="mb-2">
                <input type="text" class="form-control form-control-md" placeholder="Previous Job">
            </div>
            <div class="mb-4">
                <input type="text" class="form-control form-control-md" placeholder="Company Name">
            </div>

            <div class="card-header mb-2"
                style="padding-bottom:0px; background-color: skyblue; width: 250px; height: 40PX;">
                <p style="color: white; font-size: 20px;"><i class="fas fa-pencil-alt"></i>&nbsp;Skills</p>
            </div>

            <div class="mb-4">
                <textarea class="form-control" aria-label="With textarea" placeholder="State here..."
                    style="height:100px;"></textarea>
            </div>


            <div class="card-header mb-2"
                style="padding-bottom:0px; background-color: skyblue; width: 250px; height: 40PX;">
                <p style="color: white; font-size: 20px;"><i class="fas fa-pencil-alt"></i>&nbsp;Reference</p>
            </div>
            <div class="mb-2">
                <input type="text" class="form-control form-control-md" placeholder="Name">
            </div>
            <div class="mb-4">
                <input type="text" class="form-control form-control-md" placeholder="Contact Number">
            </div>

            <div class="d-flex"><button class="btn btn-success w-23"
                    style="width: 200px; margin-left: 20px;">Submit</button></div>
        </div>
    </div>
