<!-- <div class="header">
    <h1>JobC</h1>
    <p>My supercool header</p>
  </div> -->
<div class="cont">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03"
        aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <h2><img src="/assets/images/logo.jpg" alt="" style="height: 50px;"> JobChase.com</h2>

    </div>
  </nav>
  <div class="body">
    <h1>Find your new workplace!</h1>
    <p>Stop wasting time and get employed</p>
    <button type="button" class="btn btn-primary" routerLink="/register">Join with us and get started</button>
  </div>
</div>