.body{
    color:white;
    margin-top:15%;
    margin-left:5%;
    
}
.header {
 
    text-align: center;
    background: white;
    color: black;
    font-size: 30px;
  
  }
  .cont{
    background-image: url('./../../assets/images/mall.jpg');
    background-size: cover;
    background-repeat: no-repeat; 
    height:753px;
  }
  /* .bg-img
{
    background-image: url('./../../assets/images/mall.jpg');
    background-size: cover;
    background-repeat: no-repeat; 
  
} */