<nav class="navbar fixed-top navbar-primary bg-primary">
    <div class="container-fluid">
      <p id="logout">Logout &nbsp;&nbsp;<i class="fas fa-user" id="users" routerLink="/landing-page"></i></p>

    </div>
  </nav><br>
  <div class="side-navbar active-nav d-flex justify-content-between flex-wrap flex-column" id="sidebar">
    <ul class="nav flex-column text-white w-100">
        
    
      <h3 style="text-align: center;padding-top:38%">Administrator</h3> <br>
      <i class="fas fa-user-circle" id="icon" ></i><br><br>
      
      <li href="#" class="nav-link" routerLink="/"> 
        
        <span class="mx-2"><i class="fas fa-tachometer-alt"></i>&nbsp;Dashboard</span>
      </li>
      <li href="#" class="nav-link"  routerLink="/jobsAdmin">
        <span class="mx-2"><i class="fas fa-briefcase"></i>&nbsp;Jobs</span>
      </li>
      <li href="#" class="nav-link" routerLink="/create-jobs">
        <span class="mx-2"><i class="fas fa-plus" ></i>&nbsp;Create Job</span>
      </li>
      <li href="#" class="nav-link" routerLink="/applicants">
        <span class="mx-2"><i class="fas fa-users"></i>&nbsp;Applicants</span>
      </li>
    </ul>
  </div>
