<div class=" mt-5 card" style="width: 35rem;border-right: skyblue solid 4px;border-left: violet solid 4px;">
    <div class="card-body " >
<h1 class="title">Register</h1> 
<p>Create your own account using the following fields</p>
<br>
<form>
    <div class="row">
      <div class="col">
        <input type="text" id="fname" name="fname" class="form-control"  value="First Name" > 
      </div>
      <div class="col">
        <input type="text" id="lname" name="lname" class="form-control" value="Last Name">
      </div> 
    </div>
    <div class="row mt-4">
        <div class="col">
            <input type="text" id="address" name="address" class="form-control" value="Address">
        </div>
        <div class="col">
            <input type="text" id="email" name="email" class="form-control" value="Email Address">
        </div> 
      </div>
      <div class="row mt-4">
        <div class="col">
            <input type="text" id="password" name="password" class="form-control" value="Password">
        </div>
        <div class="col">
            <input type="text" id="confirm" name="confirm" class="form-control" value="Confirm Password">
        </div> 
      </div>
      <button class="account btn mt-4 w-100" style="background-image: linear-gradient(to right, violet , skyblue);color: white;"> Create Account</button>
<br>
</form>


<p class="offset-4">Aready have an account? Login</p>
</div>
</div>
